<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <style>
     a {
         text-decoration: none;
     }
     .topbtn {
         line-height: 1;
         margin: 1px;
     }
    </style>

    <body>
        <header class="w3-container w3-black w3-bar">
            <span class="w3-bar-item w3-large w3-right">
                <a rel="noreferrer nofollow" target="_blank" href="https://github.com/dvolk/simplefb">
                    {{ icon('code-branch') }} Simplefb
                </a>
            </span>
        </header>

        <div class="w3-container">
            <div class="w3-container">
                <br/>

                {% with messages = get_flashed_messages() %}
                <div class="w3-pale-red">
                    {% if messages %}
                    <ul class="w3-ul">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endwith %}

                <h2><span class="w3-white w3-padding" style="font-family: monospace;">{{ icon('folder') }} {{ browse_dir.absolute().name }}/</span></h2>
                <form method="POST" enctype="multipart/form-data">


                    <p>
                        <a class="w3-btn w3-blue topbtn" href="{{ url_for('browse', browse_dir=browse_dir.absolute().parent) }}">
                            {{ icon('circle-arrow-up') }} Go up
                        </a>

                        <input type="file" id="file-input" style="display: none" multiple>
                        <button class="w3-btn w3-green topbtn" type="button"
                                onclick="document.getElementById('file-input').click()">
                            {{ icon('upload') }} Upload files
                        </button>

                        <button class="w3-btn w3-blue topbtn" type="submit" formaction="/zip">
                            {{ icon('file-zipper') }} Create archive
                        </button>
                        <button class="w3-btn w3-red topbtn" type="submit" formaction="/delete">
                            {{ icon('trash') }} Delete files
                        </button>
                    </p>
                    <input type="hidden" name="browse_dir" value="{{ browse_dir.absolute() }}">
                    <p>
                        <table class="w3-table-all">
                            <thead>
                                <th style="width: 30px;"></th>
                                <th>
                                    <a href="{{ url_for('browse', browse_dir=browse_dir, sort_by='r_name' if sort_by=='name' else 'name') }}">
                                        {{ icon("sort") }}
                                        Filename
                                    </a>
                                </th>
                                <th style="text-align:right">
                                    <a href="{{ url_for('browse', browse_dir=browse_dir, sort_by='r_size' if sort_by=='size' else 'size') }}">
                                        {{ icon("sort") }}
                                        Size
                                    </a>
                                </th>
                                <th style="text-align:right">
                                    <a href="{{ url_for('browse', browse_dir=browse_dir, sort_by='r_mtime' if sort_by=='mtime' else 'mtime' ) }}">
                                        {{ icon("sort") }}
                                        Modified
                                    </a>
                                </th>
                            </thead>
                            {% for file in files %}
                            <tr>
                                <td><input name="selfile" value="{{ file }}" type="checkbox"></td>
                                <td>
                                    {% if file.is_dir() %}
                                    <a href="{{ url_for('browse', browse_dir=file) }}">
                                        {{ icon("folder") }} {{ file.name }}
                                    </a>
                                    {% else %}
                                    <a href="{{ url_for('download', file=file.absolute()) }}">
                                        {{ icon_regular("file") }} {{ file.name }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td style="text-align:right">
                                    {% if file.is_dir() %}
                                    &lt;dir&gt;
                                    {% else %}
                                    {{ humanize.naturalsize(file.stat().st_size) }}
                                    {% endif %}
                                </td>
                                <td style="text-align:right">
                                    {{ humanize.naturaldelta(epoch_time_now - file.stat().st_mtime) }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </p>
                </form>
            </div>
        </div>

        <script>
         function uploadFiles(files) {
             const formData = new FormData();
             for (let i = 0; i < files.length; i++) {
                 formData.append('files', files[i]);
             }
             formData.append('browse_dir', '{{ browse_dir }}');

             const xhr = new XMLHttpRequest();
             xhr.open('POST', '/upload');
             xhr.onload = function() {
                 if (xhr.status === 200) {
                     alert('Upload complete!');
                     location.reload();
                 } else {
                     alert('Upload failed. Please try again.');
                 }
             };
             xhr.send(formData);
         }
         const handleFileSelect = (e) => {
             const files = e.target.files;
             if (files) {
                 uploadFiles(files);
             }
         }

         const fileInput = document.getElementById('file-input');
         fileInput.addEventListener('change', handleFileSelect);
        </script>
    </body>

</html>
